.section {
  height: 100vh;
  background-color: rgb(230, 213, 213);
}

.title {
  background-color: coral;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
