.header {
  background-color: coral;
  padding: 15px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 25px;
}

.button {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;


  &:active {
    // box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    transform: scale(0.9);
  }

  & .icon {
    width: 25px;
    height: 25px;
    transform: scale(1);
    transition: transform 2500 linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}
